#container {
    width: 99%;
    height: 600px;
    margin:20px auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:660px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
}

#left-container {
    width: 180px;
    left:0;
    border-left:1px solid #ddd;
    font-size: 12px;    
}

#right-container {
    width: 100px;
    right:0;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width: 80%;
    left:180px;
    background-color:#ffffff;
    color:#ccc;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#infovis {
    position:relative;
    width:99%;
    height:660px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}
