body 
{
	margin: 0px;
	font-family: trebuchet ms, helvetica, sans-serif;
	font-size: 13px;
	background: url('/baosearch/images/st-top-bg.png') repeat-x;
	min-width: 1152px;
}

body.home
{
	margin: 0px;
	padding: 10px;
	font-family: trebuchet ms, helvetica, sans-serif;
	font-size: 13px;
	background: #000000 url('/baosearch/images/starfield.jpg') center top no-repeat;
}

img 
{
	border: 0;
}
a
{
	color: #004072;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
.topmenu
{
	font-weight: bold;
	font-size: 15px;
	padding: 5px 10px;
	float: right; 
	margin: 35px 25px 0px 0px;
}
.topmenu a 
{
	font-variant: small-caps;
	text-decoration: none; 
	color: #004072;
	padding: 0 17px;
	border-top: 2px dashed #7fafcb;
}
.topmenu a:hover 
{
	border-top: 2px solid #004072;
	text-decoration: none;
}
.footer
{
	text-align: right;
}
.searchbox
{	
	width: 500px;
	margin: auto;
	background: #ccecff;
	border: 2px solid #004072;
	padding: 25px;
	text-align: center;
}
.query {
	position: absolute; 
	right: 90px; 
	top: 15px; 
	height: 35px; 
	width: 415px; 
	border: 0px; 
	background: transparent;
}

.title
{
	margin: auto;
	padding-left: 10px;
}

.clearBoth
{
	display: none;
	clear: both;
}

hr {
	background-color:  #004072;
}

.focusText {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	font-style: bold;
}

.blurText {
	font-size: 13px;
	font-style: italic;
	color: #ffffff;
}
a.left-menu {
	color: #ffffff;
	text-decoration: none;
	line-height: 26px; 
	margin: 2px 4px; 
	height: 26px; 
	padding-left: 20px;
}
a.left-menu:hover {
        color: #a1eeff;
        text-decoration: none;
	cursor: hand;
}
a.substance {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.browse {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.home {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.sitemap {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.contact {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.help {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.terms {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.privacy {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.disclaimer {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.technology {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.visualize {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.filter {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}
a.download {
	background: url('/baosearch/images/star-trek-icon.png') no-repeat;
}

a.button {
	border: 1px solid #659be5;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	padding: 3px 10px;
	background: url('/baosearch/images/button-bg.jpg') repeat-x;
}

a.button:hover {
	text-decoration: none;
}

a.nav {
        color: #1468c0;
        text-decoration: none;
        display: block;
        line-height: 26px;
        margin: 8px 0px;
        height: 26px;
        padding-left: 30px;
}
a.nav:hover {
        text-decoration: none;
        color: #ffffff;
}

.stylish-button {
        border: 1px solid #659be5;
        font-size: 16px;
	font-family: trebuchet ms, helvetica, sans-serif;
	color: #b30000;
        text-align: center;
        font-weight: bold;
        padding: 2px 10px;
        background: url('/baosearch/images/button-bg.jpg') repeat-x;

}

.splash {
	height: 650px; 
	width: 900px;  
	margin: auto; 
	color: #ffffff; 
	padding-top: 50px; 
	text-align: center;
}

.splash-search {
	background: url('/baosearch/images/searchbox.png') no-repeat top right; 
	height: 90px; 
	width: 550px;
	position: absolute;
	top: 250px;
	right: 132px;
}

.bao-logo {
	position: absolute; height: 172px; width: 100px; right: 220px; top: -170px; background: url('/baosearch/images/star-trek-baosearch-logo.png') no-repeat;
}

.boldly-search {
	display: block; height: 36px; width: 245px; background: url('/baosearch/images/boldly-search.png') no-repeat; position: absolute; top: 320px; right: 300px;
}

.left-menu-bar {
	color: #07418f; 
	text-align: center; 
	font-weight: bold;
	position: absolute;
	top: 0px;			
	width: 100%;
}

.blurb {
	display: none;
	background: url('/baosearch/images/blurb-bg.png') repeat; 
	width: 500px; 
	margin-right: 70px; 
	float: right; 
	color: #07418f; 
	border: 1px solid #ffffff; 
	text-align: left;
	padding: 8px; 	
	line-height: 18px; 
	letter-spacing: 1px;
}

a.blurb-link {
	display: block;
}

a.blurb-link:hover {
	cursor: hand;
}

.blurb-view {
	text-align: justify; 
	font-size: 14px; 
	line-height: 40px; 
	padding-left: 50px;
	height: 40px; 
	display; block;
	background: url('/baosearch/images/view.png') no-repeat; 
}
.blurb-dl {
	text-align: justify; 
	font-size: 14px; 
	line-height: 40px; 
	padding-left: 50px;
	height: 40px; 
	display; block;
	background: url('/baosearch/images/download.png') no-repeat; 
}

a.toggle {
	font-size: 12px; font-weight: bold; color: #b30000; text-decoration: none;
}
a.toggle:hover {
	text-decoration: none; color: #2a67ba;
}
ul {
	margin: 2px;
	line-height: 13px;
	font-size: 12px;
}
li {
        margin: 2px;
        line-height: 13px;
        font-size: 12px;
}
#lightswitch {
        position: absolute; z-index: 1000; height: 15px; width: 40px; top: 400px; right: 50px; cursor: pointer;
}
#go {
        position: absolute; z-index: 1000; height: 40px; width: 40px; top: 10px; right: 50px; cursor: pointer;
}
#go-mini {
        position: absolute; z-index: 1000; height: 30px; width: 30px; top: 15px; left: 505px; cursor: pointer;
}

#navigation {
	margin: 4px 5px; width: 99%; font-weight: bold;
}
#navigation a {
	margin: 0px 8px 0px 0px;
	border: 1px solid transparent;
	padding: 2px 2px 2px 22px;
	font-weight: bold;
	background-position: 3px 3px;
	line-height: 14px;
	color: #8edaf3;
}
#navigation a:hover {
        border: 1px solid #8a919a;
	text-decoration: none;
}

#navigation a.home {
	background: url('/baosearch/images/home.png') no-repeat 2px 2px;
}

#navigation a.substance {
        background: url('/baosearch/images/substance.png') no-repeat 2px 2px;
}
#navigation a.browse {
        background: url('/baosearch/images/browse.png') no-repeat 2px 2px;
}
#navigation a.sitemap {
        background: url('/baosearch/images/sitemap.png') no-repeat 2px 2px;
}
#navigation a.contact {
        background: url('/baosearch/images/contact.png') no-repeat 2px 2px;
}
#navigation a.filter {
        background: url('/baosearch/images/charts.png') no-repeat 2px 2px;
}
#navigation a.help {
        background: url('/baosearch/images/help.png') no-repeat 2px 2px;
}
#navigation a.terms {
        background: url('/baosearch/images/terms.png') no-repeat 2px 2px;
}
#navigation a.privacy {
        background: url('/baosearch/images/privacy.png') no-repeat 2px 2px;
}
#navigation a.disclaimer {
        background: url('/baosearch/images/disclaimer.png') no-repeat 2px 2px;
}
#navigation a.technology {
        background: url('/baosearch/images/technology.png') no-repeat 2px 2px;
}
#navigation a.visualize {
        background: url('/baosearch/images/visualize.png') no-repeat 2px 2px;

}
.separator {
	background: url('/baosearch/images/st-body-bg-separator.png') no-repeat 4px 0px;
}
a.addWs {
	background: url('/baosearch/images/add.png') no-repeat 2px 2px;
}

a.clearWs {
	background: url('/baosearch/images/clear.png') no-repeat 2px 2px;
}
a.deleteWs {
	background: url('/baosearch/images/delete.png') no-repeat 2px 2px;
}
a.workset {
        background: url('/baosearch/images/workset.png') no-repeat 2px 2px;
}
a.filterOpts {
        background: url('/baosearch/images/filter.png') no-repeat 2px 2px;
}
a.toggle {
	background: url('/baosearch/images/toggle.png') no-repeat 2px 2px;
}
a.colHead {
	background: url('/baosearch/images/info.png') no-repeat 2px 2px;
        padding: 18px;
        font-weight: bold;
}

ul.marquee {
	/* required styles */
	display: block;
	padding: 0;
	top: -230px;
	left: 220px;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;

	/* optional styles for appearance */
	width: 375px;
	height: 22px; /* height should be included to reserve visual space for the marquee */
}

ul.marquee li {
	/* required styles */
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap; /* keep all text on a single line */

	/* optional styles for appearance */
	font: 14px Arial, Helvetica, sans-serif;
	padding: 3px 5px;
}
ul.marquee li a {
	color: #ffffff;
}
.sample-query {
	display: block; 
	float: left; 
	color: #606466; 
	margin-left: 80px; 	
	margin-top: -225px; 
	width: 140px; 
	height: 20px; 
	background: url('/baosearch/images/sample-query.png') no-repeat;
}
