body {
	margin:0;
	font-family:trebuchet ms, helvetica, sans-serif;
	font-size:13px;
	background:url('/baosearch/images/top-bg.png') 
repeat-x;
	min-width:1152px;
}

body.home {
	text-align:center;
	margin:auto;
	background:none;
	font-family:trebuchet 
ms, helvetica, sans-serif;
	font-size:13px;
}

img {
	border:0;
}

a {
	color:#004072;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#dynamic {
	margin-top:5px;
}

.topmenu {
	font-weight:bold;
	font-size:15px;
	padding:5px 
10px;
	float:right;
	margin:35px 25px 0 0;
}

.topmenu a {
	font-variant:small-caps;
	text-decoration:none;
	color:#004072;
	padding:0 17px;
	border-top:2px dashed #7fafcb;
}

.topmenu a:hover {
	border-top:2px solid 
#004072;
	text-decoration:none;
}

.footer {
	text-align:right;
}

.searchbox {
	width:500px;
	margin:auto;
	background:#ccecff;
	border:2px solid 
#004072;
	padding:25px;
	text-align:center;
}

.query {
	position:absolute;
	right:100px;
	top:15px;
	height:35px;
	width:415px;
	border:0;
	background:transparent;
}

.other-query {
	border:2px solid 
#1b75bc;
	width:300px;
	height:25px;
}

#adv-query {
	border:2px solid #1b75bc;
	font-size:20px;
	width:500px;
	height:100px;
}

#searchRepo {
	height:28px;
}

.content {
	margin:auto;
	min-height:300px;
}

.sub-content {
	border:1px solid 
#1b75bc;
	width:600px;
	margin:15px 0;
	padding:5px 10px;
	background:url('/baosearch/images/sub-content-bg.jpg') repeat-x;
}

.title {
	margin:auto;
}

.um-footer {
	background:url('/baosearch/images/um-footer-bg.jpg') 
repeat-x;
	padding:20px;
	font-size:12px;
	color:#07418f;
	clear:both;
}

.f-left {
	float:left;
	padding:0 20px 0 20px;
}

.f-left a {
	color:#07418f;
	text-decoration:none;
}

.f-left 
a:hover {
	text-decoration:underline;
}

.f-right {
	float:right;
}

a.footer-link {
	padding:0 
30px;
	text-decoration:none;
	width:180px;
	text-align:center;
	color:#07418f;
}

a.footer-link:hover {
	text-decoration:underline;
}

.treemap-container {
	float:left;
	width:48%;
	padding:5px;
}

.filter-list {
	float:left;
	width:48%;
	border:1px 
solid #1b75bc;
	padding:5px;
}

.clearBoth {
	clear:both;
}

.currentSelection {
	border:1px solid 
#a90800;
	padding:5px;
	margin:3px;
}

.tabLink {
	float:left;
	list-style:none;
	padding:5px;
}

.bgLoad {
	background:url('/baosearch/images/loader.gif') 
no-repeat;
}

.newSearch {
	display:block;
	font-weight:bold;
	font-size:13px;
	width:400px;
}

h1 {
	font-family:trebuchet 
ms, helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	font-variant:small-caps;
	color:#004072;
	letter-spacing:2px;
	padding:0;
}

h2 {
	font-family:trebuchet 
ms, helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	font-variant:small-caps;
	color:#004072;
	letter-spacing:2px;
	display:block;
}

h3 {
	font-family:trebuchet 
ms, helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	font-variant:small-caps;
	color:#004072;
	letter-spacing:2px;
	display:block;
	line-height:20px;
}

h4 {
	font-family:trebuchet 
ms, helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	font-variant:small-caps;
	color:#004072;
	letter-spacing:2px;
	line-height:16px;
}

.iconHeader {
	padding-left:25px;
	font-family:trebuchet 
ms, helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	font-variant:small-caps;
	color:#004072;
	letter-spacing:2px;
	text-align:left;
}

hr {
	background-color:#004072;
}

.tool-hr {
	background:url('/baosearch/images/tool-hr.jpg') 
no-repeat;
	height:8px;
	width:170px;
	margin-top:4px;
}

.matrixCell {
	float:left;
	width:150px;
	height:230px;
	border:1px solid 
#004072;
	text-align:left;
	overflow:hidden;
	margin:1px;
	padding:1px;
}

.filterField {
	width:60px;
}

.failureHighlight {
	display:none;
	border:1px solid #cb0000;
	padding:3px 3px 5px 30px;
	background:url('/baosearch/images/error.png') no-repeat;
	color:#cb0000;
	font-size:14px;
	line-height:30px;
}

.errorHighlight {
	border:1px solid #cb0000;
	padding:3px 3px 3px 30px;
	background:url('/baosearch/images/error.png') no-repeat 2px 2px;
	color:#cb0000;
}

.successHighlight {
	border:1px solid #068500;
	padding:3px 3px 3px 30px;
	background:url('/baosearch/images/success.png') no-repeat 2px 2px;
	color:#068500;
}

.alertHighlight {
        border:1px solid #ea7f00;
        padding:3px 3px 3px 30px;
        background: url('/baosearch/images/alert.png') no-repeat 2px 2px;
        color:#ea7f00;
	font-size: 13px;
	font-variant: normal;
	line-height: 14px;
	letter-spacing: normal;
	font-weight: normal;
}


.focusText {
	color:#004072;
	font-weight:bold;
	font-size:20px;
	font-style:bold;
}

.blurText {
	font-size:13px;
	font-style:italic;
	color:grey;
}

a.left-menu {
	color:#1468c0;
	text-decoration:none;
	display:block;
	line-height:18px;
	margin:2px 
0;
	height:22px;
	padding-left:30px;
}

a.left-menu:hover {
	color:#b00000;
	text-decoration:none;
	cursor:hand;
}

a.substance {
	background:url('/baosearch/images/substance.png') 
no-repeat;
}

a.browse {
	background:url('/baosearch/images/browse.png') no-repeat;
}

a.sitemap {
	background:url('/baosearch/images/sitemap.png') 
no-repeat;
}

a.contact {
	background:url('/baosearch/images/contact.png') no-repeat;
}

a.filter {
	background:url('/baosearch/images/charts.png') no-repeat;
}

a.help {
	background:url('/baosearch/images/help.png') 
no-repeat;
}

a.terms {
	background:url('/baosearch/images/terms.png') no-repeat;
}

a.privacy {
	background:url('/baosearch/images/privacy.png') 
no-repeat;
}

a.disclaimer {
	background:url('/baosearch/images/disclaimer.png') no-repeat;
}

a.technology {
	background:url('/baosearch/images/technology.png') 
no-repeat;
}

a.visualize {
	background:url('/baosearch/images/visualize.png') no-repeat;
}

a.bug {
	display:block;
	padding-left:22px;
	height:20px;
	line-height:20px;
	background:url('/baosearch/images/bug.png') 
no-repeat;
}

a.smile {
	display:block;
	padding-left:22px;
	height:20px;
	line-height:20px;
	background:url('/baosearch/images/smile.png') no-repeat;
}

a.button {
	border:1px solid 
#659be5;
	font-size:16px;
	text-align:center;
	font-weight:bold;
	padding:3px 10px;
	background:url('/baosearch/images/button-bg.jpg') 
repeat-x;
}

a.button:hover {
	text-decoration:none;
}

a.tool {
	text-decoration:none;
}

a.tool:hover {
	text-decoration:none;
}

a.nav {
	color:#1468c0;
	text-decoration:none;
	display:block;
	line-height:26px;
	margin:8px 
0;
	height:26px;
	padding-left:30px;
}

a.nav:hover {
	text-decoration:none;
	color:#fff;
}

.stylish-button {
	border:1px solid #659be5;
	font-size:13px;
	font-family:trebuchet ms, helvetica, sans-serif;
	color:#b30000;
	text-align:center;
	font-weight:bold;
	padding:2px 5px;
	background:url('/baosearch/images/button-bg.jpg') repeat-x;
}

.splash {
	background:url('/baosearch/images/dna-bg.jpg') no-repeat;
	height:650px;
	width:900px;
	margin:auto;
	color:#fff;
	padding-top:20px;
	text-align:center;
}

.splash-search {
	background:url('/baosearch/images/searchbox.png') no-repeat top right;
	height:90px;
	position:relative;
}

.bao-logo {
	left:40px;
	width:277px;
	height:70px;
	background:url("/baosearch/images/bao-search.png") no-repeat;
	background-position: 10px 15px;
}

.left-menu-bar {
	background:url('/baosearch/images/blurb-bg.png') repeat;
	width:155px;
	margin-left:65px;
	margin-top:3px;
	float:left;
	color:#07418f;
	border-width:1px 1px 1px 0;
	border-color:#fff;
	border-style:solid;
	text-align:left;
	font-weight:bold;
}

.blurb {
	background:url('/baosearch/images/blurb-bg.png') repeat;
	width:575px;
	margin-right:65px;
	float:right;
	color:#606466;
	border:1px solid #fff;
	text-align:left;
	padding:8px;
	line-height:18px;
	letter-spacing:1px;
}

.blurb p {
	line-height:16px;
}

.blurb 
a {
	color:#07418f;
}

a.blurb-link {
	display:block;
}

a.blurb-link:hover {
	cursor:hand;
}

.blurb-view {
	text-align:justify;
	font-size:14px;
	line-height:40px;
	padding-left:50px;
	height:40px;
	display;
	block;
	background:url('/baosearch/images/view.png') 
no-repeat;
}

.blurb-dl {
	text-align:justify;
	font-size:14px;
	line-height:40px;
	padding-left:50px;
	height:40px;
	display;
	block;
	background:url('/baosearch/images/download.png') 
no-repeat;
}

.searchbox-mini {
	background:url('/baosearch/images/searchbox-mini.png') no-repeat top right;
	height:50px;
	width:340px;
}

#searchHeader {
	clear:both;
}

.query-mini {
	padding:7px 0 0 
10px;
	height:30px;
	width:265px;
	border:0;
	background:transparent;
}

.viz-control {
	border-bottom:1px solid #1b75bc;
	color:#1b75bc;
	font-size:14px;
	padding:10px 
5px;
	text-decoration:none;
	text-align:right;
}

a.category {
	background:#d9f1ff;
	color:#2a67ba;
	border:1px solid 
#2a67ba;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	padding:3px;
}

a.category:hover {
	color:#037e0c;
	border:1px solid #4a9b19;
}

a.currCategory {
	background:#b5ff88;
	color:#037e0c;
	border:1px solid 
#4a9b19;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	padding:3px;
}

ul {
	margin:2px;
	line-height:13px;
	font-size:12px;
}

li {
	margin:2px;
	line-height:13px;
	font-size:13px;
}

.propertyName {
	line-height:15px;
	font-variant:small-caps;
	margin:0;
	font-size:14px;
}

a.propertyLink {
	text-decoration:none;
}

a.propertyLink:hover {
	text-decoration:none;
	color:#2a67ba;
}

a.hide-sidebar {
	display:block;
	background:url('/baosearch/images/hide-sidebar.jpg') 
no-repeat;
	width:65px;
	height:12px;
}

a.show-sidebar {
	display:block;
	background:url('/baosearch/images/show-sidebar.jpg') 
no-repeat;
	width:65px;
	height:12px;
}

#pagination {
	padding-top:10px;
	vertical-align:top;
	text-align:justify;
	line-height:25px;
	font-weight:bold;
	font-size:13px;
	display:block;
}

.boldly-search {
	display:none;
}

#lightswitch {
	position:absolute;
	z-index:1000;
	height:15px;
	width:40px;
	top:495px;
	right:180px;
	cursor:pointer;
}

#go {
	position:absolute;
	z-index:1000;
	height:40px;
	width:40px;
	top:10px;
	right:50px;
	cursor:pointer;
}

#go-mini {
	position:absolute;
	z-index:1000;
	height:30px;
	width:30px;
	top:15px;
	left:505px;
	cursor:pointer;
}

#goMiniExtra {
	position:absolute;
	z-index:1000;
	height:30px;
	width:30px;
	top:5px;
	left:310px;
	cursor:pointer;
}

#log {
	position:absolute;
	top:10px;
	font-size:1.0em;
	font-weight:bold;
	color:#23a4ff;
}

#infovis {
	position:relative;
	width:600px;
	height:600px;
	margin:auto;
	overflow:hidden;
}

.tip {
	color:#111;
	width:139px;
	background-color:white;
	border:1px 
solid #ccc;
	-moz-box-shadow:#555 2px 2px 8px;
	-webkit-box-shadow:#555 2px 2px 8px;
	-o-box-shadow:#555 2px 2px 8px;
	box-shadow:#555 2px 2px 
8px;
	opacity:.9;
	filter:alpha(opacity=90);
	font-size:12px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:7px;
}

.epHeader {
	font-weight:bold;
	font-size:14px;
	background:#f2f6c1;
	border:1px solid 
#5eab52;
	padding:3px 5px;
}

#message {
	float:left;
	margin-top:10px;
}

#navigation {
	margin:4px 5px;
	width:99%;
	font-weight:bold;
}

#navigation a {
	margin:0 8px 0 0;
	border:1px solid #91acd2;
	padding:2px 2px 2px 
22px;
	font-weight:bold;
	background-position:3px 3px;
	line-height:14px;
}

#navigation a:hover {
	border:1px solid #4b5c72;
	text-decoration:none;
}

#navigation a.home {
	background:url('/baosearch/images/home.png') 
no-repeat 2px 2px;
}

#navigation a.substance {
	background:url('/baosearch/images/substance.png') no-repeat 2px 2px;
}

#navigation a.browse {
	background:url('/baosearch/images/browse.png') no-repeat 2px 
2px;
}

#navigation a.sitemap {
	background:url('/baosearch/images/sitemap.png') no-repeat 2px 2px;
}

#navigation a.contact {
	background:url('/baosearch/images/contact.png') no-repeat 2px 2px;
}

#navigation 
a.filter {
	background:url('/baosearch/images/charts.png') no-repeat 2px 2px;
}

#navigation a.help {
	background:url('/baosearch/images/help.png') no-repeat 2px 2px;
}

#navigation 
a.terms {
	background:url('/baosearch/images/terms.png') no-repeat 2px 2px;
}

#navigation a.privacy {
	background:url('/baosearch/images/privacy.png') no-repeat 2px 2px;
}

#navigation 
a.disclaimer {
	background:url('/baosearch/images/disclaimer.png') no-repeat 2px 2px;
}

#navigation a.technology {
	background:url('/baosearch/images/technology.png') no-repeat 2px 2px;
}

#navigation 
a.visualize {
	background:url('/baosearch/images/visualize.png') no-repeat 2px 2px;
}

.separator {
	background:url('/baosearch/images/body-bg-separator.png') no-repeat 4px 
0;
}

a.home {
	background:url('/baosearch/images/home.png') no-repeat 2px 2px;
}

a.addWs {
	background:url('/baosearch/images/add.png') no-repeat 2px 2px;
}

a.clearWs {
	background:url('/baosearch/images/clear.png') 
no-repeat 2px 2px;
}

a.deleteWs {
	background:url('/baosearch/images/delete.png') no-repeat 2px 2px;
}

a.workset {
	background:url('/baosearch/images/workset.png') no-repeat 2px 
2px;
}

a.filterOpts {
	background:url('/baosearch/images/filter.png') no-repeat 2px 2px;
}

a.download {
	background:url('/baosearch/images/download.png') no-repeat 2px 
2px;
}

a.toggle {
	background:url('/baosearch/images/toggle.png') no-repeat 2px 2px;
}

a.colHead {
	background:url('/baosearch/images/info.png') no-repeat 2px 2px;
	padding:0 12px;
}

thead 
input[type=text] {
	width:90%;
}

a.specialTip {
	padding:0 12px;
}

a.infoTip {
	background:url('/baosearch/images/info.png') no-repeat 2px 2px;
}

a.removeTip {
        background:url('/baosearch/images/remove.png') no-repeat 2px 2px;
        padding:0 12px;
}

.moreInfo {
	padding:10px;
	margin:auto;
	width:95%;
}

img.infoRow {
	cursor:pointer;
}
ul.marquee {
	/* required styles */
	display: block;
	padding: 0;
	margin-top: -10px;
	list-style: none;
	line-height: 1;
	position: relative;
	float: right;
	overflow: hidden;

	/* optional styles for appearance */
	width: 375px;
	height: 22px; /* height should be included to reserve visual space for the marquee */
}

ul.marquee li {
	/* required styles */
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap; /* keep all text on a single line */

	/* optional styles for appearance */
	font: 14px Arial, Helvetica, sans-serif;
	padding: 3px 5px;
}
.sample-query {
	display: block; 
	float: left; 
	color: #606466; 
	margin-left: 380px; 	
	margin-top: -5px; 
	width: 140px; 
	height: 20px; 
	background: url('/baosearch/images/sample-query.png') no-repeat;
}
.sub-summary td {
	width: 200px;
	padding: 2px 0px;
}
a.forward-enabled {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url('/baosearch/images/paging-sprite.jpg') no-repeat;
	background-position: -60px 0px;
}
a.forward-disabled {
        display: inline-block;
        height: 19px;
        width: 19px;
        background: url('/baosearch/images/paging-sprite.jpg') no-repeat;
        background-position: -20px 0px;
}

a.back-disabled {
        display: inline-block;
        height: 19px;
        width: 19px;
        background: url('/baosearch/images/paging-sprite.jpg') no-repeat;
        background-position: 0px 0px;
}
a.back-enabled {
        display: inline-block;
        height: 19px;
        width: 19px;
        background: url('/baosearch/images/paging-sprite.jpg') no-repeat;
        background-position: -40px 0px;
}
a.actionLink:hover {
	display: inline-block;
	color: #000;
	background: #95cbd9;
	border-radius: 5px;
	padding: 2px 4px;
	margin: 2px;
	width: 80px;
	text-align: center;
}
a.actionLink {
        display: inline-block;
        color: #ffffff;
        background: #0381a0;
        border-radius: 5px;
        padding: 2px 4px;
        margin: 2px;
        width: 80px;
        text-align: center;
	text-decoration: none;
}

